<h2> Add a sneaker </h2>
<br>
<form action='/sneakers' method='POST'>
    <label for='brand'>Brand:</label>
    <input type='text' id='brand' name='brand' required><br>
    <label for='model'>Model:</label>
    <input type='text' id='model' name='model' required><br>
    <label for='colorway'>Colorway:</label>
    <input type='text' id='colorway' name='colorway' required><br>
    <label for='cost'>Cost:</label>
    <input type='number' id='cost' name='cost' required><br>
    <input type='submit' id='submit' value='Create Entry'>
</form>
<br>
<br>
<a href='/logout'>Log out</a>